
body{
   margin:0;
   margin-top: 5%;
   line-height: 1.5;
   font-family:Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 15px;
}

p{
   margin:0;
   padding: 0.3em 0em;
}

#section-B{
   background-image: url(img/front.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}

hr{
   width:90%;
}

#arti{
   font-family: 'Josefin Sans', sans-serif;
}

#section-C{
   background-image:url(img/back.jpeg);
   background-repeat: no-repeat;
   background-size:cover;

   color: #fff;

}

.clear{
   content:'';
   display:table;
   clear:both;
}



#follow{
   width:70%;
   margin:auto;
   display:grid;

}

#follow > div{
   display:inline;
}

#follow img{
   width:15%;
}

#name{
   padding-bottom: 2em;
}

img{
   width:50%;
   border-radius:10%;
}

header{
   display: grid;
}

h1, h2, h3, h4, h5, h6{
   font-family: 'Fjalla One', sans-serif;
   letter-spacing: 0.5em;
   display: grid;
   margin: 0.5em;
   text-align:center;
}

header h2{
   font-family: 'Playfair Display', serif;
   letter-spacing: 0.5em;
   display: grid;
}

.grid{
   width: 90%;
   margin:auto;
   display:grid;
   grid-template-row: 100%;
   grid-gap: 1.5em;
}
.grid > div{
   padding: 0 1em;
}

.articles{
   margin-top:1em;
   display:grid;
   grid-gap: 1em;
}

.articles div:hover h1{
   background-color: #000a;
   color: #eee;
}

.articles > div{
   width: 70%;
   margin: auto;
   border: #333 5px dotted;
   border-radius: 10;

   font-size: 13px;

   padding: 0 1em;
}



button{
   width: 50%;
   padding: 2em 0em;
   background-color: inherit;
}

button:hover {
   background-color: #ddda;
   color: #000;
   text-transform:uppercase;
}

footer{
   padding-top: 1em;
   line-height: 1em;
   background-color: #333;
   color:#000;
   margin: 2em 0;
}

footer a{
   text-decoration:none;
   color: inherit;

}

a:hover{
   color:#d33;
}


@media(min-width:800px){
   img{
      width:30%;
      float:left;
      margin: 1em 2em;
   }

   #section-A img{
      width:12%;
      margin: auto;
   }

   .grid{
      width: 85%;
      margin:auto;
      display:grid;
      grid-template-row: 100%;
      grid-gap: 1em;
   }

   hr{
      width:85%;
   }

   #name, #para{
      text-align: center;
   }

   #top{
      text-align: right;
   }

   #name{
      width:20%;
      padding-bottom: 2em;
   }

   #follow{
      width:40%;
      margin:auto;
      display:grid;
      grid-template-columns:repeat(4, 1fr);
   }

   #follow img{
      position:relative;
      left: 7em;
      margin: 0;
      width:40%;
   }


   #para{
      width:50%;
      margin:auto;
      border: 2px #333 dotted;
      font-family: 'Lora', serif;
   }

   .articles{
      display:grid;
      grid-template-columns:repeat(3, 1fr);
      grid-auto-rows:minmax(100px, auto);
      grid-gap:1em;

      width: 90%;
   }

   .articles > div{

      border:none;
      border-radius:0;

      width:auto;

      font-size: 12px;

   }

   .experience{
      width: 50%;
      margin:auto;
   }

   .ends{

      display:grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;

      width: 70%;
      margin:auto;
   }

   button{
      width: 90%;
   }

}
